.context {
	margin-top: 2rem;
}

.ul {
	list-style-type: none;
	padding: 0;
}
.ul .list {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.ul li {
	background-color: #fff;
	border-bottom: 1px solid #ccc;
	padding: 20px;
}
.ul a {
	color: #333;
	font-size: 13px;
}
.ul a span {
	color: #999;
}

.ul li:hover {
	background-color: #fafafa;
}

.right {
	font-size: 13px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 150px;
}
.right img {
	cursor: pointer;
	z-index: 2;
}

.notFound {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 20px;
}
