.banner {
	background-color: #333;
	color: #ffffff;
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 300px;
}

.title {
	font-size: 3rem;
}
.description {
	font-size: 2rem;
	padding-top: 20px;
}

@media screen and (min-width: 768px) {
	.title {
		font-size: 5rem;
	}
}
